{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Date Twig</title>
</head>
<body>
    <h1>Date et heure (via Twig)</h1>
    <p>{{ date.format('d/m/Y H:i:s') }}</p>
</body>
</html>
{% endblock %}